@import "../../responsive.scss";

.footer {
  width: 100%;
}
.footerMain {
  width: 100%;
  height: 400px;
  display: flex;
  margin-top: 20px;
  margin-left: 0px;
  padding-left: 30px;
  align-items: center;
  background-color: #ffe520;
  justify-content: space-between;

  @include lg() {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 0px;
    flex-direction: column;
  }

  @include md() {
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-left: 0px;
  }

  @include exsm() {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 0px;
    flex-direction: column;
  }

  @include sm() {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 0px;
    flex-direction: column;
  }

  .footerInfo {
    width: 33%;
    height: 100%;
    display: block;
    padding: 40px 50px;
    align-content: center;

    @include lg() {
      width: 100%;
      padding: 0px;
    }

    .footerImage {
      width: 100%;
      padding: 20px;

      img {
        width: 150px;
        height: 150px;
      }
    }
    .footertext {
      width: 100%;

      @include lg() {
        width: 60%;
        margin-left: 20px;
      }
      @include md() {
        width: 50%;
      }

      @include exsm() {
        width: 100%;
      }
      @include sm() {
        width: 100%;
      }

      p {
        width: 100%;
        text-align: justify;
        font-size: 16px;

        @include lg() {
          width: 100%;
          margin-top: 10px;
          display: inline-block;
        }
      }
      .socialLinks {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        img {
          width: 40px;
          height: 40px;
          padding: 5px;
          border-radius: 50%;
          border: 1px solid #000;
          transition: all 0.5s ease;

          &:hover {
            background-color: #ffffff;
          }
        }
      }
    }

    @include md() {
      width: 100%;
      height: 300px;
    }

    @include exsm() {
      width: 100%;
      height: 100%;
      padding: 5px;
    }

    @include sm() {
      width: 100%;
      height: 100%;
      padding: 10px;
    }
  }
  .footerlinks {
    width: 33%;
    height: 100%;
    padding-top: 40px;

    @include lg() {
      width: 100%;
      height: 100%;
    }

    @include md() {
      width: 100%;
      padding-top: 0px;
    }
    @include exsm() {
      width: 100%;
      margin-top: 10px;
    }

    h3 {
      margin-left: 120px;

      @include lg() {
        margin-left: 25px;
      }

      @include md() {
        margin-left: 15px;
        margin-top: 50px;
      }
      @include exsm() {
        margin-left: 20px;
      }
    }

    nav {
      display: flex;
      padding: 50px;
      margin-top: 80px;
      align-items: center;
      justify-content: space-between;

      @include lg() {
        display: inline-block;
        margin-top: -35px;
        margin-left: -25px;
      }
      @include md() {
        margin: 0px;
        display: inline;
      }
      @include exsm() {
        padding: 20px;
        margin-top: 20px;
      }
      a {
        width: 100%;
        height: 20px;
        display: flex;
        font-weight: 800;
        margin-top: 20px;
        transition: all 0.5s ease;

        &:hover {
          text-decoration: underline;
        }

        @include lg() {
          display: inline-block;
          width: 200px;
          margin-top: 10px;
          margin-left: 0px;
        }

        @include md() {
          width: 120px;
          display: inline-block;
          margin-top: 10px;
          margin-left: 15px;
          height: 40px;
          font-size: 12px;
        }
        @include exsm() {
          height: 14px;
          width: 100%;
          display: flex;
          margin-left: 20px;
          font-weight: 400;
          font-size: 18px;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
.footercontact {
  width: 34%;
  height: 100%;
  display: flex;
  flex-direction: column;

  @include lg() {
    width: 100%;
    height: 100%;
  }

  @include sm() {
    width: 100%;
    height: 100%;
  }
  @include exsm() {
    width: 100%;
    height: 100%;
  }

  .textContact {
    width: 100%;
    height: 100%;
    margin-top: 40px;

    @include exsm() {
      margin-top: 10px;
      margin-left: 8px;
    }

    h3 {
      @include lg() {
        margin-left: 24px;
      }

      @include md() {
        margin-left: 15px;
      }
      @include exsm() {
        margin-left: 20px;
      }
    }

    ul {
      margin-top: 25px;
    }

    div {
      gap: 10px;
      width: 90%;
      display: flex;
      align-items: center;
      margin-top: 30px;

      @include lg() {
        margin-left: 15px;
      }

      @include md() {
        margin-left: 15px;
      }
      @include exsm() {
        padding: 5px;
        margin-left: 14px;
      }
    }

    img {
      width: 8%;
      height: 8%;

      @include lg() {
        width: 4%;
        height: 4%;
      }

      @include md() {
        width: 3%;
        height: 3%;
      }

      @include md() {
        width: 5%;
        height: 5%;
      }
    }
  }
}
