@import "./responsive.scss";
.layout {
  height: 100vh;
  display: flex;
  width: 1300px;
  flex-direction: column;
  // padding: 0, 20px, 0, 20px;
  // margin: 0, auto, 0 auto;

  @include exlg() {
    max-width: 1100px;
  }

  @include lg() {
    max-width: 100%;;
  }

  @include md() {
    max-width: 100%;;
  }

  @include sm() {
    max-width: 100%;
  }

  @include exsm() {
    max-width: 100%;
  }
  .content {
    flex: 1;
  }
}
