@import "./responsive.scss";
.layout {
  height: 100vh;
  display: flex;
  max-width: 1300px;
  flex-direction: column;
  padding: 0, 20px, 0, 20px;
  margin-left: 0, auto, 0 auto;

  @include exlg() {
    max-width: 1100px;
  }

  @include lg() {
    max-width: 1000px;
  }

  @include md() {
    max-width: 891px;
  }

  @include sm() {
    max-width: 678px;
  }

  @include exsm() {
    max-width: 475px;
  }
  .content {
    flex: 1;
  }
}
